.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
.vscode
logs
*.sub
*.pyc

models/dino/ops/build/
models/dino/ops/*.egg-info/
models/dino/ops/dist/
datas
*.tar.gz
*.mp4
*.gif
*.pth
checkpoints